.footer {
  background-color: lightcyan;
  padding: 60px 40px;
}

.footer__names {
  color: black;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.footer__logo {
  width: 50px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__names {
    margin-bottom: 20px;
    margin: 0;
  }
}
