.footer {
  display: flex;
  flex-direction: row;
  background-color: lightcyan;
  padding: 60px 40px;
}

.footer__names {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.footer__name {
  color: black;
  text-decoration: none;
}

.footer__name:hover {
  color: #222268;
  text-decoration: underline;
}

.footer__logo {
  width: 50px;
}

@media (max-width: 870px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px;
  }

  .footer__names {
    margin-bottom: 20px;
    margin: 0;
    gap: 25px;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 20px;
  }
}
