/* General styles for the section */
.recipes {
  background-color: #f8f9fa; /* Light grey background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the title */
.recipe__title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the list */
.recipes__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Styles for the list items */
.recipe__image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .recipe-popup__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url("../images/xIcon.svg") no-repeat center transparent;
  background-size: cover;
  border: none;
  transition: opacity 0.3s ease;
} */
